@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap");
:root {
  --black: #141414;
  --white: #ffffff;
  --grey: #ececec;
  --dark-grey: #838383;
  --accent: #892d15;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  color: var(--black);
}

.container {
  margin: 2vh 5vw;
}

.btn {
  padding: 0.4em 1.5em;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  transition: background-color 0.3s, color 0.3s;
}
.btn:after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  left: -15px;
  top: 10px;
  transform: rotate(135deg);
  transition: width 0.3s;
}
.btn:hover:after {
  width: 50px;
}

.btn-black {
  color: var(--white);
  background-color: var(--black);
  border: 3px var(--black) solid;
}
.btn-black:after {
  background-color: var(--black);
}
.btn-black:hover {
  color: var(--black);
  background-color: var(--white);
}

.btn-outline {
  color: var(--black);
  background-color: var(--white);
  border: 3px var(--black) solid;
}
.btn-outline:after {
  background-color: var(--white);
}
.btn-outline:hover {
  color: var(--white);
  background-color: var(--black);
}

nav {
  margin: 5vh 5vw;
}
nav .nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav .nav-buttons .nav-phone-number {
  color: var(--dark-grey);
  font-size: 0.9em;
}
nav .nav-buttons .nav-link {
  color: var(--black);
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
}
nav .nav-buttons .nav-link:hover {
  text-decoration: underline;
}

.hero-slider {
  height: 60vh;
  background: #000000;
  position: relative;
  overflow: hidden;
}
.hero-slider .hero-elements-wrapper {
  height: 100%;
  transform: translateX(0%);
  transition: transform 0.8s ease-in-out;
}
.hero-slider .hero-elements-wrapper .hero-element {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.hero-slider .hero-elements-wrapper .hero-element .hero-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-slider .hero-controls {
  background: #555555;
  position: absolute;
  bottom: 2vh;
  right: 50%;
  transform: translate(50%, 0);
  height: 1px;
  width: 70%;
  display: flex;
}
.hero-slider .hero-controls-element {
  position: relative;
  margin: 0 1px;
  border-radius: 1px;
  background-color: var(--white);
  flex-grow: 1;
  flex-basis: 0;
}
.hero-slider .hero-controls-element:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  width: 0;
  height: 3px;
  transition: width linear;
  transition-duration: 0.3s;
}

.hero-controls-element-animate:after {
  width: 100% !important;
  transition-duration: 3s !important;
}

.container-index-text-blocks {
  margin: 1vh 7em;
  position: relative;
}

.index-info-block {
  margin: 1vh 0;
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.index-info-block .index-info-text {
  position: relative;
  background-color: var(--grey);
  width: 40%;
  height: fit-content;
  padding: 3em 3em 3em 3em;
  margin: 7.5vh 2em 7.5vh 0;
  text-align: left;
  box-sizing: border-box;
}
.index-info-block .index-info-text .info-block-header {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}
.index-info-block .index-info-text .info-block-small {
  color: var(--accent);
}
.index-info-block .index-info-wrapper {
  width: calc(60% - 2em);
  height: 100%;
  box-sizing: border-box;
  background: lightblue;
  position: absolute;
  right: 0;
  top: 0;
}
.index-info-block .index-info-wrapper .index-info-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.index-info-block-reverse {
  flex-direction: column-reverse;
}
.index-info-block-reverse .index-info-wrapper {
  left: -2em;
}
.index-info-block-reverse .index-info-text {
  left: 60%;
}

.index-big-decor {
  display: block;
  box-sizing: border-box;
  border: 10px var(--grey) solid;
  position: absolute;
  top: 0;
  left: 3em;
  height: 100%;
  width: 80%;
}

.index-decor-1 {
  display: block;
  border: 10px var(--grey) solid;
  position: absolute;
  left: 40%;
  width: 20%;
}

#hero-element-0 {
  left: 0%;
}

#hero-element-1 {
  left: 100%;
}

#hero-element-2 {
  left: 200%;
}

#hero-element-3 {
  left: 300%;
}

#hero-element-4 {
  left: 400%;
}

#hero-element-5 {
  left: 500%;
}

#hero-element-0 {
  left: 0%;
}

#hero-element-1 {
  left: 100%;
}

#hero-element-2 {
  left: 200%;
}

#hero-element-3 {
  left: 300%;
}

#hero-element-4 {
  left: 400%;
}

#hero-element-5 {
  left: 500%;
}

#hero-element-0 {
  background-color: #333333;
}

#hero-element-1 {
  background-color: #555555;
}

#hero-element-2 {
  background-color: #777777;
}

#hero-element-3 {
  background-color: #999999;
}

#hero-element-4 {
  background-color: #bbbbbb;
}

#hero-element-5 {
  background-color: #dddddd;
}

footer {
  display: flex;
  padding: 4em 7em 4em 7em;
  background-color: var(--black);
  color: white;
  justify-content: space-between;
  height: 200px;
}
footer .footer-logo {
  height: 100%;
}
footer .footer-block {
  text-align: center;
}
footer .footer-block .footer-header {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}
footer .footer-block .footer-phone-number {
  font-size: 1.75rem;
  font-weight: lighter;
}
footer .footer-block .footer-link-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-block .footer-link-list .footer-list-element {
  color: var(--white);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: lighter;
}
footer .footer-block .footer-link-list .footer-list-element .footer-link {
  text-decoration: none;
  color: inherit;
}
footer .footer-block .footer-link-list .footer-list-element .footer-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
