@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
:root {
  --black: #141414;
  --white: #ffffff;
  --gray: #ECECEC;
  --dark-gray: #838383;
  --accent: #892d15;
  --menu-gray: #F6F6F6;
  --contact-gray: #CFCFCF;
  --contact-gray-border: #ACACAC;
  --error-red: #ff9597;
  --error-red-light: #ffd9e0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  color: var(--black);
}

.container {
  margin: 2vh 5vw;
  position: relative;
}

.h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.btn {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  padding: 0.4em 1.5em;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.btn:after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  left: -15px;
  top: 10px;
  transform: rotate(135deg);
  transition: width 0.3s;
}
.btn:hover:after {
  width: 50px;
}

.btn-black {
  color: var(--white);
  background-color: var(--black);
  border: 3px var(--black) solid;
}
.btn-black:after {
  background-color: var(--black);
}
.btn-black:hover {
  color: var(--black);
  background-color: var(--white);
}

.btn-outline {
  color: var(--black);
  background-color: var(--white);
  border: 3px var(--black) solid;
}
.btn-outline:after {
  background-color: var(--black);
}
.btn-outline:hover {
  color: var(--black);
  background-color: var(--white);
}

.btn-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  margin: 5vh 5vw;
}
nav .nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav .nav-buttons .nav-phone-number {
  color: var(--dark-gray);
  font-size: 0.9em;
}
nav .nav-buttons .nav-phone-number::after {
  display: inline-block;
  content: "";
  border-top: 1px solid var(--dark-gray);
  width: 8.25rem;
  margin: 0 1rem;
  transform: translateY(-0.3rem);
}
nav .nav-buttons .nav-phone-number::before {
  display: inline-block;
  content: "";
  border-top: 1px solid var(--dark-gray);
  width: 8.25rem;
  margin: 0 1rem;
  transform: translateY(-0.3rem);
}
@media only screen and (max-width: 1400px) {
  nav .nav-buttons .nav-phone-number::after, nav .nav-buttons .nav-phone-number::before {
    display: none;
  }
}
nav .nav-buttons .nav-link {
  color: var(--black);
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;
  --aniamtion_time: .15s;
}
nav .nav-buttons .nav-link:before, nav .nav-buttons .nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  left: 0;
  bottom: 0;
  transform: rotate(0);
  transition: bottom var(--aniamtion_time) 0s ease-in-out, transform var(--aniamtion_time) ease-in-out;
}
nav .nav-buttons .nav-link:hover:before {
  bottom: 50%;
  transform: rotate(45deg);
  transition: bottom var(--aniamtion_time) 0s ease-in-out, transform var(--aniamtion_time) 0s ease-in-out;
}
nav .nav-buttons .nav-link:hover:after {
  bottom: 50%;
  transform: rotate(-45deg);
  transition: bottom var(--aniamtion_time) 0s ease-in-out, transform var(--aniamtion_time) 0s ease-in-out;
}
nav #language-picker:checked + .languages-dropdown {
  height: 200px;
  transform: scaleY(1);
}
nav .languages-dropdown {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  height: 0;
  transform: scaleY(0);
  transition: height 0.3s, transform 0.3s;
}
nav .languages-dropdown .btn {
  box-sizing: border-box;
  width: calc(100% - 1px);
}

.hero-slider {
  height: 60vh;
  background: #000000;
  position: relative;
  overflow: hidden;
}
.hero-slider .hero-elements-wrapper {
  height: 100%;
  transform: translateX(0%);
  transition: transform 0.8s ease-in-out;
}
.hero-slider .hero-elements-wrapper .hero-element {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.hero-slider .hero-elements-wrapper .hero-element .hero-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-slider .hero-controls {
  background: #555555;
  position: absolute;
  bottom: 2vh;
  right: 50%;
  transform: translate(50%, 0);
  height: 1px;
  width: 70%;
  display: flex;
}
.hero-slider .hero-controls-element {
  position: relative;
  margin: 0 1px;
  border-radius: 1px;
  background-color: var(--white);
  flex-grow: 1;
  flex-basis: 0;
}
.hero-slider .hero-controls-element:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  width: 0;
  height: 3px;
  transition: width linear;
  transition-duration: 0.3s;
}

.hero-controls-element-animate:after {
  width: 100% !important;
  transition-duration: 3s !important;
}

.container-index-text-blocks {
  margin: 1vh 15em;
  position: relative;
}

.index-info-block {
  margin: 6em 0;
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.index-info-block .index-info-text {
  position: relative;
  background-color: var(--gray);
  width: 40%;
  height: fit-content;
  padding: 3em 3em 3em 3em;
  margin: 7.5vh 2em 7.5vh 0;
  text-align: left;
  box-sizing: border-box;
}
.index-info-block .index-info-text .info-block-header {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}
.index-info-block .index-info-text .info-block-small {
  font-size: 15px;
  font-weight: 300;
  color: var(--accent);
}
.index-info-block .index-info-text .info-block-p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.index-info-block .index-info-wrapper {
  width: calc(60% - 2em);
  height: 100%;
  box-sizing: border-box;
  background: lightblue;
  position: absolute;
  right: 0;
  top: 0;
}
.index-info-block .index-info-wrapper .index-info-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.index-info-block-reverse {
  flex-direction: column-reverse;
}
.index-info-block-reverse .index-info-wrapper {
  left: -2em;
}
.index-info-block-reverse .index-info-text {
  left: 60%;
}

.index-big-decor {
  display: block;
  box-sizing: border-box;
  border: 10px var(--gray) solid;
  position: absolute;
  top: 0;
  left: 3em;
  height: 100%;
  width: 80%;
}

.index-decor-1 {
  display: block;
  border: 10px var(--gray) solid;
  position: absolute;
  left: 40%;
  width: 20%;
  height: 108%;
  top: -6%;
}

.index-decor-2 {
  display: block;
  border: 10px var(--gray) solid;
  position: absolute;
  right: 40%;
  width: 30%;
  height: 108%;
  top: -6%;
}

.index-decor-3 {
  display: block;
  border: 10px var(--gray) solid;
  position: absolute;
  left: 40%;
  width: 35%;
  height: 108%;
  top: -6%;
}

#hero-element-0 {
  left: 0%;
}

#hero-element-1 {
  left: 100%;
}

#hero-element-2 {
  left: 200%;
}

#hero-element-3 {
  left: 300%;
}

#hero-element-4 {
  left: 400%;
}

#hero-element-5 {
  left: 500%;
}

#hero-element-0 {
  left: 0%;
}

#hero-element-1 {
  left: 100%;
}

#hero-element-2 {
  left: 200%;
}

#hero-element-3 {
  left: 300%;
}

#hero-element-4 {
  left: 400%;
}

#hero-element-5 {
  left: 500%;
}

#hero-element-0 {
  background-color: #333333;
}

#hero-element-1 {
  background-color: #555555;
}

#hero-element-2 {
  background-color: #777777;
}

#hero-element-3 {
  background-color: #999999;
}

#hero-element-4 {
  background-color: #bbbbbb;
}

#hero-element-5 {
  background-color: #dddddd;
}

.btn-black__index {
  color: var(--white);
  background-color: var(--black);
  border: 3px var(--black) solid;
}
.btn-black__index:after {
  background-color: var(--black);
}
.btn-black__index:hover {
  color: var(--black);
  background-color: #ececec;
}

footer {
  position: relative;
  background-color: var(--black);
  color: white;
}
footer .footer-flex {
  display: flex;
  height: 200px;
  padding: 4em 7em 4em 7em;
  justify-content: space-between;
}
footer .footer-flex .footer-logo {
  height: 100%;
}
footer .footer-flex .footer-block {
  text-align: center;
}
footer .footer-flex .footer-block .footer-header {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}
footer .footer-flex .footer-block .footer-phone-number {
  font-family: Montserrat, sans-serif;
  font-size: 1.75rem;
  font-weight: lighter;
}
footer .footer-flex .footer-block .footer-link-list {
  font-family: Montserrat, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-flex .footer-block .footer-link-list .footer-list-element {
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  font-weight: lighter;
  margin: 0.5rem 0;
}
footer .footer-flex .footer-block .footer-link-list .footer-list-element .footer-link {
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
}
footer .footer-flex .footer-block .footer-link-list .footer-list-element .footer-link:hover {
  text-decoration: underline;
}
footer .footer-flex .footer-block .footer-circle-links-block {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
footer .footer-flex .footer-block .footer-circle-links-block .footer-circle-link {
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-flex .footer-block .footer-circle-links-block .footer-circle-link .footer-circle-link-icon {
  width: 100%;
  filter: drop-shadow(0px 0px 0px var(--white));
  transition: filter 0.3s;
}
footer .footer-flex .footer-block .footer-circle-links-block .footer-circle-link:hover .footer-circle-link-icon {
  filter: drop-shadow(0px 0px 5px var(--white));
}
footer .footer-copy {
  font-family: Montserrat, sans-serif;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
footer .footer-copy .heart {
  color: #ff000c;
  font-size: 1rem;
  margin: 0 0.3rem;
}

.hero-container__hotel {
  height: 50vh;
  position: relative;
  background: #000000;
  overflow: hidden;
}
.hero-container__hotel .hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-container__hotel .header-container {
  background: var(--white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
}
.hero-container__hotel .header-container .hero-header__hotel {
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: var(--black);
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.hero-container__hotel .header-container .hero-small__hotel {
  font-size: 12px;
  display: block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.rooms-container {
  display: grid;
  margin: 5rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  row-gap: 5rem;
}
.rooms-container .room-wrapper {
  display: flex;
  flex-direction: column;
}
.rooms-container .room-wrapper .room-image {
  height: 30vh;
  object-fit: cover;
  width: 100%;
}
.rooms-container .room-wrapper .room-description {
  margin-top: 25px;
}
.rooms-container .room-wrapper .room-description p {
  font-family: Montserrat, sans-serif;
  text-align: left;
}
.rooms-container .room-wrapper .room-description small {
  font-size: 15px;
  margin-top: 5px;
  color: var(--accent);
}
.rooms-container .room-wrapper .room-description .room-header {
  margin: 0;
  font-size: 3rem;
}

.hotel-decor-1 {
  display: block;
  border: 10px var(--gray) solid;
  position: absolute;
  width: 95%;
  height: 29%;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hotel-decor-2 {
  display: block;
  border: 10px var(--gray) solid;
  position: absolute;
  width: 95%;
  height: 29%;
  top: 72%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.form-modal-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 20;
  transition: background-color 0.3s;
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
}

.modal-inactive {
  background-color: rgba(66, 66, 66, 0);
  transform: scale(0, 0);
  transition: transform 0s linear 0.6s, background-color 0.3s 0.3s;
}
.modal-inactive .form-modal {
  opacity: 0;
}

.decorated-header-confirm {
  background-color: var(--white);
  color: var(--black);
  text-transform: uppercase;
  border: 1.4px solid var(--black);
  box-sizing: border-box;
  width: 70%;
  text-align: center;
  padding: 1rem 1rem;
  position: relative;
  margin: 1rem 15% 0;
  font-size: 1.8rem;
}
.decorated-header-confirm:before, .decorated-header-confirm:after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: black;
  position: absolute;
  display: block;
  top: 50%;
}
.decorated-header-confirm:before {
  left: -15%;
}
.decorated-header-confirm:after {
  right: -15%;
}

.form-modal {
  width: 70%;
  background: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  opacity: 1;
  transition: opacity 0.3s 0.3s, transform 0s 0.3s;
}
.form-modal .form-modal-field-wrapper {
  position: relative;
  margin: 1rem 0;
}
.form-modal .form-modal-room-type .form-modal-room-image {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.form-modal .form-modal-room-type .form-modal-room-type-header {
  font-size: 2rem;
  text-align: center;
}
.form-modal .form-modal-room-type p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.form-modal .form-modal-room-type #room_availability {
  color: var(--error-red);
}
.form-modal input[type=text],
.form-modal input[type=tel],
.form-modal input[type=number],
.form-modal input[type=date],
.form-modal input[type=email],
.form-modal input:not([type=hidden]),
.form-modal select {
  width: 100%;
  padding: 1rem;
  border: 1px var(--dark-gray) solid;
  text-align: center;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.2em;
  box-sizing: border-box;
  transition: border-color 0.3s, background-color 0.3s;
}
.form-modal input[type=text]:focus ~ label, .form-modal input[type=text]:not(:placeholder-shown) ~ label, .form-modal input[type=text]:active ~ label,
.form-modal input[type=tel]:focus ~ label,
.form-modal input[type=tel]:not(:placeholder-shown) ~ label,
.form-modal input[type=tel]:active ~ label,
.form-modal input[type=number]:focus ~ label,
.form-modal input[type=number]:not(:placeholder-shown) ~ label,
.form-modal input[type=number]:active ~ label,
.form-modal input[type=date]:focus ~ label,
.form-modal input[type=date]:not(:placeholder-shown) ~ label,
.form-modal input[type=date]:active ~ label,
.form-modal input[type=email]:focus ~ label,
.form-modal input[type=email]:not(:placeholder-shown) ~ label,
.form-modal input[type=email]:active ~ label,
.form-modal input:not([type=hidden]):focus ~ label,
.form-modal input:not([type=hidden]):not(:placeholder-shown) ~ label,
.form-modal input:not([type=hidden]):active ~ label,
.form-modal select:focus ~ label,
.form-modal select:not(:placeholder-shown) ~ label,
.form-modal select:active ~ label {
  opacity: 0;
}
.form-modal input[type=text]:invalid:not(:focus):not(:placeholder-shown):not([type=date]),
.form-modal input[type=tel]:invalid:not(:focus):not(:placeholder-shown):not([type=date]),
.form-modal input[type=number]:invalid:not(:focus):not(:placeholder-shown):not([type=date]),
.form-modal input[type=date]:invalid:not(:focus):not(:placeholder-shown):not([type=date]),
.form-modal input[type=email]:invalid:not(:focus):not(:placeholder-shown):not([type=date]),
.form-modal input:not([type=hidden]):invalid:not(:focus):not(:placeholder-shown):not([type=date]),
.form-modal select:invalid:not(:focus):not(:placeholder-shown):not([type=date]) {
  border-color: var(--error-red);
  background-color: var(--error-red-light);
}
.form-modal input[type=checkbox] {
  display: none;
}
.form-modal input[type=checkbox]:checked ~ .checkbox-label .checkbox-label-check-mark {
  background-color: var(--black);
}
.form-modal .checkbox-label {
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--black);
  display: inline-block;
  position: relative;
}
.form-modal .checkbox-label .checkbox-label-check-mark {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--white);
  transition: background-color 0.3s;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-modal .default-label {
  color: var(--dark-gray);
  font-family: "Oswald", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-confirmation {
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1, 1);
  padding: 2rem;
  opacity: 1;
  transition: opacity 0.3s 0.3s;
  max-width: 500px;
}
.form-confirmation .form-confirmation-image {
  width: 100%;
  max-height: 30%;
  object-fit: cover;
}
.form-confirmation .form-confirmation-header {
  text-align: center;
  font-size: 2rem;
}
.form-confirmation .form-confirmation-field {
  width: 100%;
  padding: 1rem;
  border: 1px var(--dark-gray) solid;
  text-align: center;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.2em;
  box-sizing: border-box;
}
.form-confirmation .form-confirmation-room-type-header {
  text-align: center;
  font-size: 1.8rem;
}
.confirmation-inactive {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0, 0);
}

.decorated-header {
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  box-sizing: border-box;
  width: 70%;
  text-align: center;
  padding: 1rem 1rem;
  position: relative;
  margin: 1rem 15% 0;
  font-size: 1.8rem;
}
.decorated-header:before, .decorated-header:after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: black;
  position: absolute;
  display: block;
  top: 50%;
}
.decorated-header:before {
  left: -15%;
}
.decorated-header:after {
  right: -15%;
}

.form-modal_banquet {
  width: 25%;
  background: var(--white);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  opacity: 1;
  transition: opacity 0.3s 0.3s, transform 0s 0.3s;
}
.form-modal_banquet .form-modal-room-type .form-modal-room-image {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.form-modal_banquet .form-modal-room-type .form-modal-room-type-header {
  font-size: 2rem;
  text-align: center;
}
.form-modal_banquet .form-modal-room-type p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.form-modal_banquet input[type=text],
.form-modal_banquet input[type=tel],
.form-modal_banquet input[type=number],
.form-modal_banquet input[type=date],
.form-modal_banquet input[type=email] {
  width: 100%;
  padding: 1rem;
  border: 1px var(--dark-gray) solid;
  text-align: center;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.2em;
  box-sizing: border-box;
}
.form-modal_banquet .default-label {
  display: block;
  color: var(--dark-gray);
  width: 100%;
  font-family: "Oswald", sans-serif;
}

.form-modal-inactive {
  transform: translate(-50%, -50%) scale(0, 0);
  opacity: 0;
}

.header__contact {
  font-family: Ubuntu, sans-serif;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 0 0 3.2vh 0;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text form" "map map";
}
.contact-grid .contact-text {
  grid-area: text;
  background-color: #555555;
  padding: 3rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-grid .contact-text .contact-text-group {
  display: flex;
  margin-left: 77px;
}
.contact-grid .contact-text .contact-text-group .contact-text-icon {
  display: inline;
  padding: 1rem;
  border-radius: 18px;
  border: solid 5px var(--white);
}
.contact-grid .contact-text .contact-text-group .contact-text-left {
  margin-left: 2rem;
}
.contact-grid .contact-text .contact-text-group .contact-text-left .contact-text-header {
  text-transform: uppercase;
  font-size: 23px;
  height: fit-content;
  margin: 0;
}
.contact-grid .contact-text .contact-text-group .contact-text-left .contact-text-small {
  font-family: Montserrat, sans-serif;
  word-wrap: break-word;
  height: fit-content;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  width: 100%;
  display: block;
}
.contact-grid .contact-form {
  grid-area: form;
  background-color: var(--contact-gray);
  color: var(--black);
  padding: 3em;
}
.contact-grid .contact-form .first_last_input {
  display: flex;
}
.contact-grid .contact-form input[type=text] {
  box-sizing: border-box;
  width: 50%;
  padding: 1rem;
  border: 1px var(--contact-gray-border) solid;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2.3vh;
  background: #DADADA;
  color: rgba(0, 0, 0, 0.5);
}
.contact-grid .contact-form input[type=email] {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  border: 1px var(--contact-gray-border) solid;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2.3vh;
  background: #DADADA;
  color: rgba(0, 0, 0, 0.5);
}
.contact-grid .contact-form textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  background: #DADADA;
  border: 1px var(--contact-gray-border) solid;
  font-size: 12px;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
.contact-grid .contact-map {
  grid-area: map;
  background-color: black;
  height: 60vh;
  box-shadow: 10px 4px 4px var(--black) inset;
}
.contact-grid .contact-map iframe {
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.contact_btn {
  margin-top: 2.1vh;
  color: var(--white);
  background-color: var(--black);
  border: 3px var(--black) solid;
  font-size: 23px;
  padding-left: 6vw;
  padding-right: 6vw;
}
.contact_btn:after {
  background-color: var(--black);
}
.contact_btn:hover {
  color: var(--black);
  background-color: var(--contact-gray);
}

.additional_footer {
  height: 61vh;
  clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
  background: var(--black);
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: -1;
}

.hero-container__banquet {
  height: 50vh;
  position: relative;
  background: #000000;
  overflow: hidden;
}
.hero-container__banquet .hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-container__banquet .header-container {
  background: var(--white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
}
.hero-container__banquet .header-container .hero-header__banquet {
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: var(--black);
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.hero-container__banquet .header-container .hero-small__banquet {
  font-size: 12px;
  display: block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.banquet_container {
  position: relative;
  background: #fff;
  overflow: hidden;
  margin: 0 24vh;
}
.banquet_container h2 {
  font-size: 20px;
  margin: 6vh 0 0 0;
}
.banquet_container p {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.btn__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn-black__banquet {
  color: var(--white);
  background-color: var(--black);
  border: 3px var(--black) solid;
  display: inline-flex;
  margin-top: 3.5vh;
  padding-left: 6vw;
  padding-right: 6vw;
  margin-left: 1.5vh;
}
.btn-black__banquet:after {
  background-color: var(--black);
}
.btn-black__banquet:hover {
  color: var(--black);
  background-color: var(--white);
}

.banquet_container__additional .banquet-text .banquet-block {
  display: flex;
  flex-direction: row;
  margin: 4rem 0;
}
.banquet_container__additional .banquet-text .banquet-block .banquet-block-photo {
  width: 55%;
  object-fit: cover;
}
.banquet_container__additional .banquet-text .banquet-block .banquet-block-text {
  padding: 1rem;
}
.banquet_container__additional .banquet-text .banquet-block .banquet-block-text .banquet-block-header {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}
.banquet_container__additional .banquet-text .banquet-block .banquet-block-text .banquet-block-small {
  font-size: 15px;
  font-weight: 300;
  color: var(--accent);
}
.banquet_container__additional .banquet-text .banquet-block .banquet-block-text .banquet-block-p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-bottom: 1.5rem;
  margin-top: 10px;
}
.banquet_container__additional .banquet-text .banquet-block-reversed {
  flex-direction: row-reverse;
}

.menu-filter {
  margin: 5vh 5vw;
  position: relative;
  font-family: Montserrat, sans-serif;
  text-align: center;
}
.menu-filter .checkbox-switch {
  display: none;
}
.menu-filter .category-input:checked + .menu-filter-item {
  border: 3px solid var(--dark-gray);
  background-color: var(--dark-gray);
  color: var(--white);
}
.menu-filter .category-input:checked + .menu-filter-item:after {
  background-color: var(--dark-gray);
}
.menu-filter .menu-filter-item {
  position: relative;
  padding: 0.5rem 1.3rem;
  margin: 0 0.5rem;
  border: 3px solid var(--gray);
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
.menu-filter .menu-filter-item:after {
  content: "";
  height: 3px;
  width: 50px;
  position: absolute;
  left: -15px;
  top: 10px;
  transform: rotate(135deg);
  transition: background-color 0.3s;
  background-color: var(--gray);
}

.menu-container {
  margin: 5vh 5vw;
}
.menu-container .menu-item {
  display: flex;
  height: 600px;
  flex-direction: column;
  margin-bottom: 20px;
  width: calc(25% - 20px);
  background: var(--menu-gray);
}
.menu-container .menu-item .menu-item-photo {
  flex-grow: 1;
  object-fit: cover;
  max-height: 400px;
}
.menu-container .menu-item .menu-item-text {
  padding: 1rem;
  box-sizing: border-box;
}
.menu-container .menu-item .menu-item-text .menu-item-header {
  font-size: 3em;
  margin: 0;
  font-weight: bold;
}
.menu-container .menu-item .menu-item-text .menu-item-description {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.menu-container .menu-item .menu-item-text .menu-item-price {
  font-size: 1.8rem;
  color: #AFAFAF;
  font-weight: bold;
  margin: 0;
}
.menu-container .menu-item-w2 {
  width: calc(50% - 20px);
}
.menu-container .gap-size {
  width: 4%;
}

.restaurant-header {
  height: 50vh;
  margin: 0 5vw;
}
.restaurant-header .restaurant-header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2.5rem;
  margin: 1rem 12rem;
}
.restaurant-container .restaurant-text .restaurant-block {
  display: flex;
  flex-direction: row;
  margin: 4rem 0;
}
.restaurant-container .restaurant-text .restaurant-block .restaurant-block-photo {
  width: 55%;
  object-fit: cover;
}
.restaurant-container .restaurant-text .restaurant-block .restaurant-block-text {
  padding: 1rem;
}
.restaurant-container .restaurant-text .restaurant-block .restaurant-block-text .restaurant-block-header {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}
.restaurant-container .restaurant-text .restaurant-block .restaurant-block-text .restaurant-block-small {
  font-size: 15px;
  font-weight: 300;
  color: var(--accent);
}
.restaurant-container .restaurant-text .restaurant-block .restaurant-block-text .restaurant-block-p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.restaurant-container .restaurant-text .restaurant-block-reversed {
  flex-direction: row-reverse;
}
.restaurant-container .menu-sidebar .decorated-header {
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  box-sizing: border-box;
  width: 70%;
  text-align: center;
  padding: 0.5rem 1rem;
  position: relative;
  margin: 3rem 15% 0;
}
.restaurant-container .menu-sidebar .decorated-header:before, .restaurant-container .menu-sidebar .decorated-header:after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: black;
  position: absolute;
  display: block;
  top: 50%;
}
.restaurant-container .menu-sidebar .decorated-header:before {
  left: -15%;
}
.restaurant-container .menu-sidebar .decorated-header:after {
  right: -15%;
}
.restaurant-container .menu-sidebar .simple-header {
  font-size: 1.8rem;
  margin: 2rem 0;
  text-align: center;
  font-family: Ubuntu, sans-serif;
}
.restaurant-container .menu-sidebar .menu-item {
  margin-bottom: 1rem;
}
.restaurant-container .menu-sidebar .menu-item .menu-item-header {
  font-size: 1.2rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.restaurant-container .menu-sidebar .menu-item .menu-item-image {
  width: 100%;
  height: 26vh;
  object-fit: cover;
}
.restaurant-container .menu-sidebar .menu-item .menu-item-text {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.gallery-container {
  margin: 5vh 5vw;
}
.gallery-container .gallery-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: calc(25% - 20px);
}
.gallery-container .gallery-item-photo {
  flex-grow: 1;
  object-fit: cover;
  max-height: 346px;
}
.gallery-container .gallery-item-text {
  padding: 1rem;
  box-sizing: border-box;
}
.gallery-container .gallery-item-header {
  font-size: 3em;
  margin: 0;
  font-weight: bold;
}
.gallery-container .gallery-item-w2 {
  width: calc(50% - 20px);
}
.gallery-container .gap-size {
  width: 4%;
}

.gallery-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  z-index: 2;
  transition: background-color 0.3s, transform 0s, z-index 0s 0s;
}
.gallery-modal-image {
  max-height: 100%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}
.gallery-modal-inactive {
  transform: scale(0, 0);
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0s 0.6s, background-color 0.3s 0.3s;
}
.gallery-modal-inactive .gallery-modal-image {
  opacity: 0;
  transition: opacity 0.3s 0.3s, z-index 0s 0.6s;
}

/*# sourceMappingURL=styles.css.map */
