@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
:root {
  --black: #141414;
  --white: #ffffff;
  --grey: #ececec;
  --dark-grey: #838383;
  --accent: #892d15;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  color: var(--black);
}

.container {
  margin: 2vh 5vw;
  position: relative;
}

.h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.btn {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  padding: 0.4em 1.5em;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  transition: background-color 0.3s, color 0.3s;
}
.btn:after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  left: -15px;
  top: 10px;
  transform: rotate(135deg);
  transition: width 0.3s;
}
.btn:hover:after {
  width: 50px;
}

.btn-black {
  color: var(--white);
  background-color: var(--black);
  border: 3px var(--black) solid;
}
.btn-black:after {
  background-color: var(--black);
}
.btn-black:hover {
  color: var(--black);
  background-color: var(--white);
}

.btn-outline {
  color: var(--black);
  background-color: var(--white);
  border: 3px var(--black) solid;
}
.btn-outline:after {
  background-color: var(--white);
}
.btn-outline:hover {
  color: var(--white);
  background-color: var(--black);
}

.btn-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  margin: 5vh 5vw;
}
nav .nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav .nav-buttons .nav-phone-number {
  color: var(--dark-grey);
  font-size: 0.9em;
}
nav .nav-buttons .nav-phone-number::after {
  display: inline-block;
  content: "";
  border-top: 1px solid var(--dark-grey);
  width: 8.25rem;
  margin: 0 1rem;
  transform: translateY(-0.3rem);
}
nav .nav-buttons .nav-phone-number::before {
  display: inline-block;
  content: "";
  border-top: 1px solid var(--dark-grey);
  width: 8.25rem;
  margin: 0 1rem;
  transform: translateY(-0.3rem);
}
nav .nav-buttons .nav-link {
  color: var(--black);
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
}
nav .nav-buttons .nav-link:hover {
  text-decoration: underline;
}

.hero-slider {
  height: 60vh;
  background: #000000;
  position: relative;
  overflow: hidden;
}
.hero-slider .hero-elements-wrapper {
  height: 100%;
  transform: translateX(0%);
  transition: transform 0.8s ease-in-out;
}
.hero-slider .hero-elements-wrapper .hero-element {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.hero-slider .hero-elements-wrapper .hero-element .hero-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-slider .hero-controls {
  background: #555555;
  position: absolute;
  bottom: 2vh;
  right: 50%;
  transform: translate(50%, 0);
  height: 1px;
  width: 70%;
  display: flex;
}
.hero-slider .hero-controls-element {
  position: relative;
  margin: 0 1px;
  border-radius: 1px;
  background-color: var(--white);
  flex-grow: 1;
  flex-basis: 0;
}
.hero-slider .hero-controls-element:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  width: 0;
  height: 3px;
  transition: width linear;
  transition-duration: 0.3s;
}

.hero-controls-element-animate:after {
  width: 100% !important;
  transition-duration: 3s !important;
}

.container-index-text-blocks {
  margin: 1vh 15em;
  position: relative;
}

.index-info-block {
  margin: 6em 0;
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.index-info-block .index-info-text {
  position: relative;
  background-color: var(--grey);
  width: 40%;
  height: fit-content;
  padding: 3em 3em 3em 3em;
  margin: 7.5vh 2em 7.5vh 0;
  text-align: left;
  box-sizing: border-box;
}
.index-info-block .index-info-text .info-block-header {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}
.index-info-block .index-info-text .info-block-small {
  font-size: 15px;
  font-weight: 300;
  color: var(--accent);
}
.index-info-block .index-info-text .info-block-p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.index-info-block .index-info-wrapper {
  width: calc(60% - 2em);
  height: 100%;
  box-sizing: border-box;
  background: lightblue;
  position: absolute;
  right: 0;
  top: 0;
}
.index-info-block .index-info-wrapper .index-info-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.index-info-block-reverse {
  flex-direction: column-reverse;
}
.index-info-block-reverse .index-info-wrapper {
  left: -2em;
}
.index-info-block-reverse .index-info-text {
  left: 60%;
}

.index-big-decor {
  display: block;
  box-sizing: border-box;
  border: 10px var(--grey) solid;
  position: absolute;
  top: 0;
  left: 3em;
  height: 100%;
  width: 80%;
}

.index-decor-1 {
  display: block;
  border: 10px var(--grey) solid;
  position: absolute;
  left: 40%;
  width: 20%;
  height: 108%;
  top: -6%;
}

.index-decor-2 {
  display: block;
  border: 10px var(--grey) solid;
  position: absolute;
  right: 40%;
  width: 30%;
  height: 108%;
  top: -6%;
}

.index-decor-3 {
  display: block;
  border: 10px var(--grey) solid;
  position: absolute;
  left: 40%;
  width: 35%;
  height: 108%;
  top: -6%;
}

#hero-element-0 {
  left: 0%;
}

#hero-element-1 {
  left: 100%;
}

#hero-element-2 {
  left: 200%;
}

#hero-element-3 {
  left: 300%;
}

#hero-element-4 {
  left: 400%;
}

#hero-element-5 {
  left: 500%;
}

#hero-element-0 {
  left: 0%;
}

#hero-element-1 {
  left: 100%;
}

#hero-element-2 {
  left: 200%;
}

#hero-element-3 {
  left: 300%;
}

#hero-element-4 {
  left: 400%;
}

#hero-element-5 {
  left: 500%;
}

#hero-element-0 {
  background-color: #333333;
}

#hero-element-1 {
  background-color: #555555;
}

#hero-element-2 {
  background-color: #777777;
}

#hero-element-3 {
  background-color: #999999;
}

#hero-element-4 {
  background-color: #bbbbbb;
}

#hero-element-5 {
  background-color: #dddddd;
}

footer {
  position: relative;
  background-color: var(--black);
  color: white;
}
footer .footer-flex {
  display: flex;
  height: 200px;
  padding: 4em 7em 4em 7em;
  justify-content: space-between;
}
footer .footer-flex .footer-logo {
  height: 100%;
}
footer .footer-flex .footer-block {
  text-align: center;
}
footer .footer-flex .footer-block .footer-header {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}
footer .footer-flex .footer-block .footer-phone-number {
  font-family: Montserrat, sans-serif;
  font-size: 1.75rem;
  font-weight: lighter;
}
footer .footer-flex .footer-block .footer-link-list {
  font-family: Montserrat, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-flex .footer-block .footer-link-list .footer-list-element {
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  font-weight: lighter;
}
footer .footer-flex .footer-block .footer-link-list .footer-list-element .footer-link {
  text-decoration: none;
  color: inherit;
}
footer .footer-flex .footer-block .footer-link-list .footer-list-element .footer-link:hover {
  text-decoration: underline;
}
footer .footer-copy {
  font-family: Montserrat, sans-serif;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
footer .footer-copy .heart {
  color: #ff000c;
  font-size: 1rem;
  margin: 0 0.3rem;
}

.hero-container__hotel {
  height: 50vh;
  position: relative;
  background: #000000;
  overflow: hidden;
}
.hero-container__hotel .hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-container__hotel .header-container {
  background: var(--white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
}
.hero-container__hotel .header-container .hero-header__hotel {
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: var(--black);
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.hero-container__hotel .header-container .hero-small__hotel {
  font-size: 12px;
  display: block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.rooms-container {
  display: grid;
  margin: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 2rem;
  row-gap: 5rem;
}
.rooms-container .room-wrapper {
  display: flex;
  flex-direction: column;
}
.rooms-container .room-wrapper .room-image {
  height: 30vh;
  object-fit: cover;
}
.rooms-container .room-wrapper .room-description {
  margin-top: 25px;
}
.rooms-container .room-wrapper .room-description p {
  font-family: Montserrat sans-serif;
  text-align: left;
}
.rooms-container .room-wrapper .room-description small {
  font-size: 15px;
  margin-top: 5px;
  color: var(--accent);
}
.rooms-container .room-wrapper .room-description .room-header {
  margin: 0;
  font-size: 3rem;
}

.hotel-decor-1 {
  display: block;
  border: 10px var(--grey) solid;
  position: absolute;
  width: 95%;
  height: 29%;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hotel-decor-2 {
  display: block;
  border: 10px var(--grey) solid;
  position: absolute;
  width: 95%;
  height: 29%;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.form-modal {
  width: 30%;
  background: var(--white);
}
.form-modal input[type=text],
.form-modal input[type=number],
.form-modal input[type=checkbox],
.form-modal input[type=email] {
  width: 100%;
  padding: 1rem;
  border: 1px var(--dark-grey) solid;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.2em;
}
.form-modal label {
  display: block;
  color: var(--dark-grey);
  width: 100%;
  font-family: "Oswald", sans-serif;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text form" "map map";
}
.contact-grid .contact-text {
  grid-area: text;
  background-color: #555555;
  padding: 3rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-grid .contact-text .contact-text-group {
  display: flex;
}
.contact-grid .contact-text .contact-text-group .contact-text-icon {
  display: inline;
  padding: 1rem;
  border-radius: 18px;
  border: solid 5px var(--white);
}
.contact-grid .contact-text .contact-text-group .contact-text-left {
  margin-left: 2rem;
}
.contact-grid .contact-text .contact-text-group .contact-text-left .contact-text-header {
  text-transform: uppercase;
  font-size: 1.7rem;
  height: fit-content;
  margin: 0;
}
.contact-grid .contact-text .contact-text-group .contact-text-left .contact-text-small {
  font-family: Montserrat, sans-serif;
  word-wrap: break-word;
  height: fit-content;
  margin: 0;
  width: 100%;
  display: block;
}
.contact-grid .contact-form {
  grid-area: form;
  background-color: var(--grey);
  color: var(--black);
  padding: 2em;
}
.contact-grid .contact-form input[type=text] {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  border: 1px var(--dark-grey) solid;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.2em;
}
.contact-grid .contact-form textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
}
.contact-grid .contact-map {
  grid-area: map;
  background-color: black;
  height: 30vh;
  box-shadow: 10px 4px 4px var(--black) inset;
}

.hero-container__banquet {
  height: 50vh;
  position: relative;
  background: #000000;
  overflow: hidden;
}
.hero-container__banquet .hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-container__banquet .header-container {
  background: var(--white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
}
.hero-container__banquet .header-container .hero-header__banquet {
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: var(--black);
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.hero-container__banquet .header-container .hero-small__banquet {
  font-size: 12px;
  display: block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.banquet_container {
  height: 50vh;
  position: relative;
  background: #fff;
  overflow: hidden;
  margin: 0 24vh;
}
.banquet_container h2 {
  font-size: 20px;
  margin: 6vh 0 0 0;
}
.banquet_container p {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.btn__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn-black__banquet {
  color: var(--white);
  background-color: var(--black);
  border: 3px var(--black) solid;
  display: inline-flex;
  margin-top: 3.5vh;
  padding-left: 6vw;
  padding-right: 6vw;
  margin-left: 1.5vh;
}
.btn-black__banquet:after {
  background-color: var(--black);
}
.btn-black__banquet:hover {
  color: var(--black);
  background-color: var(--white);
}

/*# sourceMappingURL=styles.css.map */
