.header__contact {
	font-family: Ubuntu, sans-serif;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin: 0 0 3.2vh 0;
}

.contact-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "text form" "map map";

	@media only screen and (max-width: 900px) {
		grid-template-columns: 1fr;
		grid-template-areas: "text" "form" "map";
	}

	.contact-text {
		grid-area: text;
		background-color: #555555;
		padding: 3rem;
		color: var(--white);
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		.contact-text-group {
			display: flex;
			margin: 1rem 0 1rem 77px;
			//margin-left: 77px;

			@media only screen and (max-width: 1150px){
				margin-left: 0;
			}

			.contact-text-icon {
				display: inline;
				padding: 1rem;
				border-radius: 18px;
				border: solid 5px var(--white);
				width: 77px;
				height: 77px;
				box-sizing: border-box;
			}

			.contact-text-left {
				margin-left: 2rem;

				.contact-text-header {
					text-transform: uppercase;
					font-size: 23px;
					height: fit-content;
					margin: 0;
				}

				.contact-text-small {
					font-family: Montserrat, sans-serif;
					word-wrap: break-word;
					height: fit-content;
					font-weight: 300;
					font-size: 12px;
					margin: 0;
					width: 100%;
					display: block;
				}
			}
		}
	}

	.contact-form {
		grid-area: form;
		background-color: var(--contact-gray);
		color: var(--black);
		padding: 3em;


		.first_last_input {
			display: flex;
		}

		input[type="text"] {
			box-sizing: border-box;
			width: 50%;
			padding: 1rem;
			border: 1px var(--contact-gray-border) solid;
			font-size: 12px;
			font-family: "Montserrat", sans-serif;
			margin-bottom: 2.3vh;
			background: #DADADA;
			color: rgba(0, 0, 0, 0.5);
		}

		input[type="email"] {
			box-sizing: border-box;
			width: 100%;
			padding: 1rem;
			border: 1px var(--contact-gray-border) solid;
			font-size: 12px;
			font-family: "Montserrat", sans-serif;
			margin-bottom: 2.3vh;
			background: #DADADA;
			color: rgba(0, 0, 0, 0.5);
		}

		textarea {
			box-sizing: border-box;
			width: 100%;
			resize: none;
			background: #DADADA;
			border: 1px var(--contact-gray-border) solid;
			font-size: 12px;
			padding: 1rem;
			font-family: "Montserrat", sans-serif;
			color: rgba(0, 0, 0, 0.5);
		}

	}

	.contact-map {
		grid-area: map;
		background-color: black;
		height: 60vh;

		box-shadow: 10px 4px 4px var(--black) inset;

		iframe {
			box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
		}

	}
}

.contact_btn {
	margin-top: 2.1vh;
	color: var(--white);
	background-color: var(--black);
	border: 3px var(--black) solid;
	font-size: 23px;
	padding-left: 6vw;
	padding-right: 6vw;

	&:after {
		background-color: var(--black);
	}

	&:hover {
		color: var(--black);
		background-color: var(--contact-gray);
	}
}

.additional_footer {
	height: 61vh;
	clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
	background: var(--black);
	position: absolute;
	width: 100%;
	top: 100%;
	z-index: -1;

}
