.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text form" "map map";

    .contact-text {
        grid-area: text;
        background-color: #555555;
        padding: 3rem;
        color: var(--white);

        .contact-text-group {
            display: flex;
            margin-bottom: 1.5vh;
            margin-left: 77px;

            .contact-text-icon {
                display: inline;
                padding: 1rem;
                border-radius: 18px;
                border: solid 5px var(--white);

            }

            .contact-text-header {
                text-transform: uppercase;
                font-size: 1.7rem;
                //margin-left: 100px;
                margin: 0 0 0 40px;
                height: fit-content;
            }

            .contact-text-small {
                margin: 35px 0 0 118px;
                font-family: Montserrat, sans-serif;
                word-wrap: break-word;
                height: fit-content;
                position: absolute;
            }
        }
    }

    .contact-form {
        grid-area: form;
        background-color: var(--grey);
        color: var(--black);

        input[type="text"] {
            display: block;
            width: 100%;
        }

        textarea {
            width: 100%;
            resize: none;
        }

    }

    .contact-map {
        grid-area: map;
        background-color: black;
        height: 30vh;

        box-shadow: 10px 4px 4px var(--black) inset;

    }
}