footer {
	position: relative;

	background-color: var(--black);
	color: white;

	.footer-flex {
		display: flex;
		height: 200px;
		padding: 4em 7em 4em 7em;
		justify-content: space-between;

		.footer-logo {
			height: 100%;
		}

		.footer-block {
			text-align: center;

			.footer-header {
				font-size: 1.6rem;
				font-weight: 600;
				margin: 0 0 1rem 0;
				text-transform: uppercase;
			}

			.footer-phone-number {
				font-family: Montserrat, sans-serif;
				font-size: 1.75rem;
				font-weight: lighter;
			}

			.footer-link-list {
				font-family: Montserrat, sans-serif;
				list-style: none;
				margin: 0;
				padding: 0;

				.footer-list-element {
					color: var(--white);
					font-size: 1rem;
					text-decoration: none;
					font-weight: lighter;
					margin: .5rem 0;

					.footer-link {
						text-decoration: none;
						color: inherit;
						display: block;
						position: relative;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.footer-circle-links-block {
				width: 100%;
				display: flex;
				justify-content: space-around;
				margin: 1rem 0;

				.footer-circle-link {
					border-radius: 50%;
					background-color: transparent;
					transition: background-color .3s;
					cursor: pointer;
					text-decoration: none;
					.footer-circle-link-icon{
						width: 100%;
						filter: drop-shadow(0px 0px 0px var(--white));
						transition: filter .3s;
					}

					&:hover{
						.footer-circle-link-icon{
							filter: drop-shadow(0px 0px 5px var(--white));
						}
					}
				}
			}
		}
	}

	.footer-copy {
		font-family: Montserrat, sans-serif;
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);

		.heart {
			color: #ff000c;
			font-size: 1rem;
			margin: 0 0.3rem;
		}
	}
}
