.form-modal {
	//position: absolute;
	width: 30%;
	background: var(--white);
	//left: 50%;
	//transform: translateX(-50%);

	input[type="text"],
	input[type="number"],
	input[type="checkbox"],
	input[type="email"],
	{
		width: 100%;
		padding: 1rem;
		border: 1px var(--dark-grey) solid;
		text-align: center;
		font-size: 1.5rem;
		font-family:"Montserrat", sans-serif ;
		margin-bottom: .2em;
	}

	label {
		display: block;
		color: var(--dark-grey);
		width: 100%;
		font-family: "Oswald", sans-serif;
	}
}
