.form-modal {
	//position: absolute;
	width: 70%;
	background: var(--white);
	//left: 50%;
	//transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	.form-modal-fields{
		width: 40%;
		padding: .5rem;
	}

	.form-modal-room-type{
		padding: .5rem;
		width: 40%;

		.form-modal-room-image{
			width: 100%;
			object-fit: cover;
		}
	}

	input[type="text"],
	input[type="number"],
	input[type="checkbox"],
	input[type="email"]
	{
		width: 100%;
		padding: 1rem;
		border: 1px var(--dark-gray) solid;
		text-align: center;
		font-size: 1.5rem;
		font-family:"Montserrat", sans-serif ;
		margin-bottom: .2em;
	}

	label {
		display: block;
		color: var(--dark-gray);
		width: 100%;
		font-family: "Oswald", sans-serif;
	}
}
