.gallery-container {
	margin: 5vh 5vw;

	.gallery-item {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		width: calc(25% - 20px);

		&-photo {
			flex-grow: 1;
			object-fit: cover;
			max-height: 340px;
			cursor: pointer;
		}

		&-text {
			padding: 1rem;
			box-sizing: border-box;
		}

		&-header {
			font-size: 3em;
			margin: 0;
			font-weight: bold;
		}

		&-w2 {
			width: calc(50% - 20px);
		}

	}

	.gap-size {
		width: 4%;
	}
}

.gallery-modal {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
	width: 100%;
	height: 100%;
	transform: scale(1, 1);
	z-index: 2;

	transition: background-color .3s, transform 0s, z-index 0s 0s;

	&-image {
		max-height: 100%;
		max-width: 100%;
		transform: translate(-50%, -50%);
		position: relative;
		left: 50%;
		top: 50%;
		opacity: 1;
		transition: opacity .3s .3s;
	}

	&-controls {

	}
}

.gallery-modal-inactive {
	transform: scale(0, 0);
	background-color: rgba(0, 0, 0, 0);
	transition: transform 0s .6s, background-color .3s .3s;

	.gallery-modal-image{
		opacity: 0;
		transition: opacity .3s .3s, z-index 0s .6s;
	}
}