@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

:root {
	--black: #141414;
	--white: #ffffff;
	--gray: #ECECEC;
	--dark-gray: #838383;
	--accent: #892d15;
	--menu-gray: #F6F6F6;
	--contact-gray: #CFCFCF;
	--contact-gray-border: #ACACAC;
	--error-red: #ff9597;
	--error-red-light: #ffd9e0;

}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
	color: var(--black)
}

.container {
	margin: 2vh 5vw;
	position: relative;

	@media only screen and (max-width: 900px) {
		margin: 2vh 0;
	}
}

.h1 {
	font-size: 3em;
	text-transform: uppercase;
	margin: 0;
	font-weight: bold;
	text-align: center;
}

.display-inline {
	display: inline-block !important;
}

.mobile-only {

	@media only screen and (min-width: 800px) {
		display: none !important;
	}
}

.desktop-only {

	@media only screen and (max-width: 800px) {
		display: none !important;
	}
}

.sm-ml-auto {
	@media only screen and (max-width: 800px) {
		margin-left: auto;
	}
}

.sm-ml-1 {
	@media only screen and (max-width: 800px) {
		margin-left: 1rem;
	}
}

.mx-auto{
	margin-left: auto;
	margin-right: auto;
}

