.hero-container__hotel {
	height: 50vh;
	position: relative;
	background: #000000;
	overflow: hidden;

	.hero-image {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.header-container {
		background: var(--white);
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		padding: 2rem;
		width: fit-content;
		width: -moz-fit-content;

		.hero-header__hotel {
			font-family: Ubuntu, sans-serif;
			font-weight: bold;
			font-size: 35px;
			color: var(--black);
			text-align: center;
			margin-bottom: 0;
			margin-top: 0;
		}

		.hero-small__hotel {
			font-size: 12px;
			display: block;
			font-family: "Montserrat", sans-serif;
			text-align: center;
		}
	}
}

.rooms-container {
	display: grid;
	margin: 5rem;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "room1 room2" "room3 room4" "room5 room5";
	grid-gap: 2rem;
	row-gap: 5rem;

	@media only screen and (max-width: 900px) {
		grid-template-columns: 1fr;
		margin: 0;
		grid-template-areas: "room1" "room2" "room3" "room4" "room5";
	}

	@for $i from 1 through 5 {
		.r-#{$i} {
			grid-area: room#{$i};
		}
	}

	.room-wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 10px;

		.room-image {
			height: 30vh;
			object-fit: cover;
			width: 100%;
		}

		.room-image-flex {
			width: calc(50% - 1rem);
		}

		.big-room-photo-flex {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
		}

		.room-description {
			margin-top: 25px;
			@media only screen and (max-width: 900px) {
				margin: 25px 1vw 0 1vw;
			}

			@media only screen and (max-width: 900px) {
				text-align: center;
			}

			p {
				font-family: Montserrat, sans-serif;
				text-align: inherit;
			}

			small {
				font-size: 15px;
				margin-top: 5px;
				color: var(--accent);
			}

			.room-header {
				margin: 0;
				font-size: 3rem;
			}
		}
	}
}

.hotel-decor {
	display: block;
	//box-sizing: border-box;
	border: 10px var(--gray) solid;
	position: absolute;
	width: 95%;
	height: 55vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;

	@media only screen and (max-width: 900px) {
		display: none;
	}
}

.hotel-decor-1 {
	top: 65vh;

}

.hotel-decor-2 {
	top: 130vh
}

.hotel-decor-3{
	top: 195vh;
}
