nav {
	margin: 5vh 5vw;

	.nav-buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		margin: 0;

		//visuals
		list-style: none;

		.nav-phone-number {
			color: var(--dark-gray);
			font-size: 0.9em;

			&::after {
				display: inline-block;
				content: "";
				border-top: 1px solid var(--dark-gray);
				width: 8.25rem;
				margin: 0 1rem;
				transform: translateY(-0.3rem);
			}

			&::before {
				display: inline-block;
				content: "";
				border-top: 1px solid var(--dark-gray);
				width: 8.25rem;
				margin: 0 1rem;
				transform: translateY(-0.3rem);
			}

			@media only screen and (max-width: 1400px) {
				&::after,
				&::before {
					display: none;
				}
			}
		}

		.nav-link {
			color: var(--black);
			font-size: 1.3em;
			text-transform: uppercase;
			text-decoration: none;
			display: block;
			position: relative;

			--aniamtion_time: .15s;

			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: var(--black);
				left: 0;
				bottom: 0;
				transform: rotate(0);

				transition: bottom var(--aniamtion_time) 0s ease-in-out, transform var(--aniamtion_time)  ease-in-out;
			}

			&:hover {

				&:before {
					bottom: 50%;
					transform: rotate(45deg);
					transition: bottom var(--aniamtion_time) 0s ease-in-out, transform var(--aniamtion_time) 0s ease-in-out;

				}

				&:after {
					bottom: 50%;
					transform: rotate(-45deg);
					transition: bottom var(--aniamtion_time) 0s ease-in-out, transform var(--aniamtion_time) 0s ease-in-out;

				}
			}
		}
	}

	#language-picker:checked + .languages-dropdown {
		height: 200px;
		transform: scaleY(1);
	}

	.languages-dropdown {
		z-index: 1;
		display: flex;
		flex-direction: column;
		position: absolute;
		justify-content: space-evenly;
		height: 0;
		transform: scaleY(0);
		transition: height .3s, transform .3s;

		.btn {
			box-sizing: border-box;
			width: calc(100% - 1px);
		}
	}
}
