{% load static i18n %}
<footer>
    <div class="footer-flex">
        <img class="footer-logo" src="{% static 'svg/logo-white.svg' %}" alt="">
        <div class="footer-block">
            <h4 class="footer-header">Корисні посилання</h4>
            <ol class="footer-link-list">
                <li class="footer-list-element"><a class="footer-link" href="">Lorem</a></li>
                <li class="footer-list-element"><a class="footer-link" href="">Pipsum oposum</a></li>
                <li class="footer-list-element"><a class="footer-link" href="">Taram amet</a></li>
            </ol>
            <div class="footer-circle-links-block">
                <a class="footer-circle-link">
                    <img src="{% static "svg/facebook-vector.svg" %}" alt="" class="footer-circle-link-icon">
                </a>
                <a class="footer-circle-link">
                    <img src="{% static "svg/instagram-vector.svg" %}" alt="" class="footer-circle-link-icon">
                </a>
                <a class="footer-circle-link">
                    <img src="{% static "svg/tripadvisor-vector.svg" %}" alt="" class="footer-circle-link-icon">
                </a>
            </div>
        </div>
        <div class="footer-block">
            <h4 class="footer-header">Готель</h4>
            <ol class="footer-link-list">
                <li class="footer-list-element"><a class="footer-link" href="">Pararam</a></li>
                <li class="footer-list-element"><a class="footer-link" href="">behelon</a></li>
                <li class="footer-list-element"><a class="footer-link" href="">Gorgh</a></li>
            </ol>
        </div>
        <div class="footer-block">
            <h4 class="footer-header">Телефон</h4>
            <span class="footer-phone-number">+38 032 247-45-19</span>
            <div class="footer-circle-links-block">
                <a class="footer-circle-link">
                    <img src="{% static "svg/whats-up-vector.svg" %}" alt="" class="footer-circle-link-icon">
                </a>
                <a class="footer-circle-link">
                    <img src="{% static "svg/viber-vector.svg" %}" alt="" class="footer-circle-link-icon">
                </a>
                <a class="footer-circle-link">
                    <img src="{% static "svg/telegram-vector.svg" %}" alt="" class="footer-circle-link-icon">
                </a>
            </div>
        </div>
        <div class="footer-block">

            <h4 class="footer-header">{% trans 'Де нас знайти'%}</h4>
            <ol class="footer-link-list">
                <li class="footer-list-element">Львів</li>
                <li class="footer-list-element">Рясне Руське</li>
                <li class="footer-list-element">Площа торгова 1</li>
            </ol>
        </div>
    </div>
    <span class="footer-copy">Copyright ©2020 All rights reserved | Made with<span class="heart"><i
            class="fas fa-heart"></i></span>by <a class="footer-link" target="_blank" href="https://github.com/NightSkyStudios">Night Sky Studios</a></span>
    <a href=""></a>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>