{% load static %}
<footer>
    <div class="footer-flex">
        <img class="footer-logo" src="{% static 'svg/logo-white.svg' %}" alt="">
        <div class="footer-block">
            <h4 class="footer-header">Useful links</h4>
            <ol class="footer-link-list">
                <li class="footer-list-element"><a class="footer-link" href="">Lorem</a></li>
                <li class="footer-list-element"><a class="footer-link" href="">Pipsum oposum</a></li>
                <li class="footer-list-element"><a class="footer-link" href="">Taram amet</a></li>
            </ol>
        </div>
        <div class="footer-block">
            <h4 class="footer-header">Hotel</h4>
            <ol class="footer-link-list">
                <li class="footer-list-element"><a class="footer-link" href="">Pararam</a></li>
                <li class="footer-list-element"><a class="footer-link" href="">behelon</a></li>
                <li class="footer-list-element"><a class="footer-link" href="">Gorgh</a></li>
            </ol>
        </div>
        <div class="footer-block">
            <h4 class="footer-header">Phone</h4>
            <span class="footer-phone-number">+38 032 247-45-19</span>
        </div>
        <div class="footer-block">
            <h4 class="footer-header">Address</h4>
            <ol class="footer-link-list">
                <li class="footer-list-element">Lviv</li>
                <li class="footer-list-element">Рясне Руське</li>
                <li class="footer-list-element">Площа торгова 1</li>
            </ol>
        </div>
    </div>
    <span class="footer-copy">Copyright ©2020 All rights reserved | Made with <span class="heart">♥</span> by Night Sky Studios</span>
</footer>