{% load static %}
<nav>
    <ol class="nav-buttons">
        <li><a href="{% url 'index' %}"><img src="{% static 'svg/logo-black.svg' %}" alt="Kook logo"></a></li>
        <li class="nav-phone-number">Call Us Free: +38 032 247-45-19</li>
        <li><a class="nav-link" href="{% url 'hotel' %}">Готель</a></li>
        <li><a class="nav-link" href="{% url 'restaurant' %}">Ресторан</a></li>
        <li><a class="nav-link" href="{% url 'banquet' %}">Банкетний зал</a></li>
        <li><a class="nav-link" href="{% url 'contact' %}">Контакти</a></li>
        <li><a class="btn btn-outline" href="">ua</a></li>
        <li><a class="btn btn-black" href="">Забронювати</a></li>
    </ol>
</nav>