{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include "includes/head_links.html" %}
    <title>Contact Us</title>
</head>
<body style="overflow-x: hidden">

{% include "includes/navbar.html" %}
<div class="container">
    <h1 class="header__contact">Написати нам</h1>
    <div class="contact-grid">
        <div class="contact-text">
            <div class="contact-text-group">
                <img src="{% static "svg/contact-address-icon.svg" %}" alt="" class="contact-text-icon">
                <div class="contact-text-left">
                    <h3 class="contact-text-header">Адреса</h3>
                    <p class="contact-text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="contact-text-group">
                <img src="{% static "svg/contact-mail-icon.svg" %}" alt="" class="contact-text-icon">
                <div class="contact-text-left">
                    <h3 class="contact-text-header">почта</h3>
                    <p class="contact-text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="contact-text-group">
                <img src="{% static "svg/contact-phone-icon.svg" %}" alt="" class="contact-text-icon">
                <div class="contact-text-left">
                    <h3 class="contact-text-header">Телефон</h3>
                    <p class="contact-text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="contact-text-group">
                <img src="{% static "svg/contact-bus-icon.svg" %}" alt="" class="contact-text-icon">
                <div class="contact-text-left">
                    <h3 class="contact-text-header">Для груп</h3>
                    <p class="contact-text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <form method="post">
                {% csrf_token %}
                <div class="first_last_input">
                    <label for="first_name" id="first_name_label"></label>
                    <input type="text" name="first_name" id="first_name" placeholder="Ім'я">
                    <label for="last_name" id="last_name_label"></label>
                    <input type="text" name="last_name" id="last_name" style="margin-left: 12px;"
                           placeholder="Прізвище">
                </div>
                <label for="email" id="email_label"></label>
                <input type="email" name="email" id="email" placeholder="E-mail">
                <label for="message" id="message_label"></label>
                <textarea name="message" id="message" cols="30" rows="10"
                          placeholder="Ваше повідомлення тут..."></textarea>
                <div class="g-recaptcha" data-theme="white" data-size="normal"
                     data-sitekey="6LdkHegUAAAAAD2GdidwOhfAjB2XfP3uIlr_d8c9"></div>
                <button class="btn btn-black btn-center contact_btn">Надіслати</button>
            </form>
        </div>
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10285.290483515944!2d23.9027144!3d49.8739677!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9b5ff4413c68b51c!2zS29vayBIb3RlbCAmIFJlc3QgKG9sZCDQn9GW0LTQutC-0LLQsCk!5e0!3m2!1sen!2sua!4v1584616764685!5m2!1sen!2sua"
                    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
        </div>

    </div>

</div>
<div class="additional_footer">
</div>
{% include 'ajax_icludes/ajax_form.html' %}
{% include 'includes/footer.html' %}
<script src="{% static 'js/hotel_room_modal_management.js' %}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>