<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Booking Form</title>
</head>

<body>

{% include 'ajax_icludes/ajax_form.html' %}
{% include 'includes/head_links.html' %}
<form method="post">
    {% csrf_token %}
    <div class="">
        {#        {{ form.as_ul }}#}
        {% if booking_status.success %}
            {#            <h1>Congrats</h1>#}
            <img src="{{ booking_info.room_type.image.url }}" alt=""><br>
            <span> П.І.Б: {{ booking_info.pib }}
            </span>
            <br>
            <span> Телефон: {{ booking_info.phone }}</span>
            <br>
            <span>E-mail: {{ booking_info.email }}</span>
            <br>
            <span>Час перебування: <b>{{ booking_info.date_entry }} - {{ booking_info.date_leave }}</b></span>
            <br>
            <span>Кількість чоловік: {{ booking_info.quantity }}</span><br>
            <span>Тип кімнати: {{ booking_info.room_type }}</span><br>
            <span>Додаткові опції: {{ booking_info.additionals }}</span><br>
            <span>Кількість днів: {{ booking_info.days }}</span><br>
            <span>Ціна: {{ booking_info.price }} грн</span><br>
        {% endif %}
        {% if booking_status.fail %}
            {#            <h1>Sorry</h1>#}
            <img src="{{ booking_info.room_type.image.url }}" alt=""><br>
            <span> П.І.Б: {{ booking_info.pib }}</span>
            <br>
            <span> Телефон: {{ booking_info.phone }}</span>
            <br>
            <span>E-mail: {{ booking_info.email }}</span>
            <br>
            <span>Час перебування: <b>{{ booking_info.date_entry }} - {{ booking_info.date_leave }}</b></span>
            <br>
            <span>Кількість чоловік: {{ booking_info.quantity }}</span><br>
            <span>Тип кімнати: {{ booking_info.room_type }}</span><br>
            <span>Додаткові опції: {{ booking_info.additionals }}</span><br>
            <span>Кількість днів: {{ booking_info.days }}</span><br>
            <span>Ціна: {{ booking_info.price }} грн </span><br>
        {% endif %}
        {% comment %}      <button type="submit">Submit
        </button>{% endcomment %}
        {#        <button type="submit">Submit#}
        {#        </button>#}
    </div>
    <br><br><br><br><br><br><br><br>
    <a href="/admin">admin</a>
</form>
</body>

</html>