{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Gallery</title>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    {% include 'includes/head_links.html' %}
</head>
<body>
{% include "includes/navbar.html" %}
<h1 class="header__contact">Галерея</h1>
<div class="menu-filter">
    <input checked class="category-input checkbox-switch" id="filter_category_all"
           name="filter_category" data-id="*" type="radio">
    <label for="filter_category_all" class="menu-filter-item">All</label>
    {% for category in gallery_categories %}
        <input class="category-input checkbox-switch" id="filter_category_{{ category.id }}"
               name="filter_category" data-id=".cat_{{ category.id }}" type="radio">
        <label for="filter_category_{{ category.id }}" class="menu-filter-item">{{ category.name }}</label>
    {% endfor %}
</div>
<div class="gallery-container">
    {% for item in gallery_items %}
        <a class="{{ item.get_categories_class }}" href="{{ item.image.url }}">
            <div class="gallery-item {{ item.get_categories_class }} {% cycle 'gallery-item-w2' '' '' '' '' 'gallery-item-w2' %}">
                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="gallery-item-photo">
            </div>
        </a>
    {% endfor %}
</div>
{% include 'ajax_icludes/ajax_form.html' %}
{% include 'includes/footer.html' %}
<script src="{% static 'js/hotel_room_modal_management.js' %}"></script>
<script src="{% static 'js/gallery.js' %}"></script>
</body>
