{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    {% include 'includes/head_links.html' %}
</head>
<body>
{% include "includes/navbar.html" %}
<h1 class="header__contact">Галерея</h1>
<div class="menu-filter">
    {% for category in gallery_categories %}
        <input onclick="filter()" class="category-input checkbox-switch" id="filter_category_{{ category.id }}"
               name="filter_category_{{ category.id }}" data-id="{{ category.id }}" type="checkbox">
        <label for="filter_category_{{ category.id }}" class="menu-filter-item">{{ category.name }}</label>
    {% endfor %}
</div>
<div class="gallery-container">
    {% for item in gallery_items %}
        <div onclick="showGalleryModal()"
             class="gallery-item {{ item.get_categories_class }} {% cycle 'gallery-item-w2' '' '' '' '' 'gallery-item-w2' %}">
            <img src="{{ item.image.url }}" alt="{{ item.name }}" class="gallery-item-photo">
        </div>
    {% endfor %}
</div>
<div class="gallery-modal">

</div>
{% include "includes/footer.html" %}
<script>
    function showGalleryModal(event) {
        console.log(event.target); // IMG
        console.log(this); //div

        
    }

    document.querySelectorAll('.gallery-item').forEach(e => {
        e.addEventListener('click', showGalleryModal)
    })
</script>
<script>
    let elem = document.querySelector('.gallery-container');

    let iso = new Isotope(elem, {
        // options
        itemSelector: '.gallery-item',
        layoutMode: 'fitRows',
        percentPosition: true,
        fitRows: {
            gutter: 20
        }
    });

    function getFilterSelector() {
        let checks = document.querySelectorAll('.category-input');
        let result = '';
        checks.forEach((node) => {
            if (node.checked) {
                result += `.cat_${node.dataset.id}`
            }
        });

        return result
    }


    function filter() {
        iso.arrange({filter: getFilterSelector()})
    }

    if ('{{ filter }}' !== '') {
        document.querySelector('input[data-id="{{ filter }}"]').checked = true;
        filter()
    }
</script>
</body>
