{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'includes/head_links.html' %}
    <title>Hotel</title>
</head>

<body>
{% include 'includes/navbar.html' %}
<div class="container">
    <div class="hero-container__hotel">
        <div class="header-container">
            <h1 class="hero-header__hotel">Lorem Ipsum dolor</h1>
            <span class="hero-small__hotel">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                    accusantium</span>
        </div>
        <img class="hero-image" src="{% static 'img/hero-image-hotel-rooms.jpg' %}" alt="">
    </div>
    <span class="hotel-decor-1"></span>

    <div class="rooms-container">
        <div class="room-wrapper">
            <img src="{% static 'img/placeholder.jpg' %}" alt="" class="room-image">
            <div class="room-description">
                <small>Кількість номерів: 5</small>
                <h2 class="room-header">Номер Стандарт</h2>
                <p>
                    <b>Комплектація Номеру:</b> Однокімнатний номер, 2 ліжка, стіл, 2 крісла, LED
                    телевізор, шафа. санвузол суміщений (душова кабінка), внутрішній телефон. <br>
                    <b>Номер обладнаний:</b> супутниковим телебаченням, доступом до мережі Інтернет (Wi-Fi).
                </p>
                <button onclick="showModal(1)" class="btn btn-black display-inline" href="">бронь</button>
            </div>
        </div>

        <div class="room-wrapper">
            <img src="{% static 'img/placeholder.jpg' %}" alt="" class="room-image">
            <div class="room-description">
                <small>Кількість номерів: 5</small>
                <h2 class="room-header">Номер Стандарт</h2>
                <p>
                    <b>Комплектація Номеру:</b> Однокімнатний номер, 2 ліжка, стіл, 2 крісла, LED
                    телевізор, шафа. санвузол суміщений (душова кабінка), внутрішній телефон. <br>
                    <b>Номер обладнаний:</b> супутниковим телебаченням, доступом до мережі Інтернет (Wi-Fi).
                </p>
                <button onclick="showModal(2)" class="btn btn-black display-inline" href="">бронь</button>
            </div>
        </div>
        <span class="hotel-decor-2"></span>
        <div class="room-wrapper">
            <img src="{% static 'img/placeholder.jpg' %}" alt="" class="room-image">
            <div class="room-description">
                <small>Кількість номерів: 5</small>
                <h2 class="room-header">Номер Стандарт</h2>
                <p>
                    <b>Комплектація Номеру:</b> Однокімнатний номер, 2 ліжка, стіл, 2 крісла, LED
                    телевізор, шафа. санвузол суміщений (душова кабінка), внутрішній телефон. <br>
                    <b>Номер обладнаний:</b> супутниковим телебаченням, доступом до мережі Інтернет (Wi-Fi).
                </p>
                <button onclick="showModal(3)" class="btn btn-black display-inline" href="">бронь</button>
            </div>
        </div>

        <div class="room-wrapper">
            <img src="{% static 'img/placeholder.jpg' %}" alt="" class="room-image">
            <div class="room-description">
                <small>Кількість номерів: 5</small>
                <h2 class="room-header">Номер Стандарт</h2>
                <p>
                    <b>Комплектація Номеру:</b> Однокімнатний номер, 2 ліжка, стіл, 2 крісла, LED
                    телевізор, шафа. санвузол суміщений (душова кабінка), внутрішній телефон. <br>
                    <b>Номер обладнаний:</b> супутниковим телебаченням, доступом до мережі Інтернет (Wi-Fi).
                </p>
                <button onclick="showModal()" class="btn btn-black display-inline">бронь</button>
            </div>
        </div>
        {#        {% for room in room_types %}#}
        {#            <div class="room-wrapper">#}
        {#                <img src="{{ room.image.url }}" alt="" class="room-image">#}
        {#                <div class="room-description">#}
        {#                    <small>Кількість номерів: {{ room.quantity }}</small>#}
        {#                    <h2 class="room-header">{{ room.name }}</h2>#}
        {#                    <p>#}
        {#                        {{ room.description|safe }}#}
        {#                    </p>#}
        {#                    <button onclick="showModal({{ room.id }})" class="btn btn-black">бронь</button>#}
        {#                </div>#}
        {#            </div>#}
        {#            {% cycle '' '' '<span class="hotel-decor-2"></span>' '' %}#}
        {#        {% endfor %}#}
    </div>
</div>
{% include 'ajax_icludes/ajax_form.html' %}
{% include 'includes/footer.html' %}
<script src="{% static 'js/hotel_room_modal_management.js' %}"></script>
</body>

</html>