{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    {% include 'includes/head_links.html' %}
</head>
<body>
{% include "includes/navbar.html" %}
<h1 class="header__contact">Меню</h1>
<div class="menu-filter">
    {% for category in menu_categories %}
        <span class="menu-filter-item">{{ category.name }}</span>
    {% endfor %}
</div>
<div class="menu-container">
    {% for item in menu_items %}
        <div class="menu-item {% cycle 'menu-item-w2' '' '' '' '' 'menu-item-w2' %}">
            <img src="{{ item.image.url }}" alt="{{ item.title }}" class="menu-item-photo">
            <div class="menu-item-text">
                <h3 class="menu-item-header">{{ item.title }}</h3>
                <p class="menu-item-description">{{ item.description }}</p>
                <p class="menu-item-price">{{ item.price }}uah</p>
            </div>
        </div>
    {% endfor %}
</div>
{% include "includes/footer.html" %}
<script>
    let elem = document.querySelector('.menu-container');

    let iso = new Isotope(elem, {
        // options
        itemSelector: '.menu-item',
        layoutMode: 'fitRows',
        percentPosition: true,
        fitRows: {
            gutter: 20
        }
    });
</script>
</body>
