{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'includes/head_links.html' %}
</head>
<body>
{% include 'includes/navbar.html' %}
<div class="container">
<div class="hero-container__banquet">
<div class="header-container">
            <h1 class="hero-header__banquet">Lorem Ipsum dolor</h1>
            <span class="hero-small__banquet">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                    accusantium</span>
        </div>
        <img class="hero-image" src="{% static 'img/placeholder.jpg' %}" alt=""/>
</div>
</div>
<div class="restaurant-container">
    <div class="restaurant-text">
        <div class="restaurant-block">
            <img src="{% static 'img/placeholder.jpg' %}" alt="" class="restaurant-block-photo">
            <div class="restaurant-block-text">
                <h4 class="restaurant-block-header">Restaurant</h4>
                <small class="restaurant-block-small">Tame lorem</small>
                <p class="restaurant-block-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                    consectetur,
                    consequuntur corporis deleniti deserunt enim error est excepturi facere id inventore minus nemo
                    neque
                    quos, repellat sapiente similique sunt temporibus!</p>
                <a href="{% url 'gallery' %}" class="btn btn-black">Галерея</a>
            </div>
        </div>
        <div class="restaurant-block restaurant-block-reversed">
            <img src="{% static 'img/placeholder.jpg' %}" alt="" class="restaurant-block-photo">
            <div class="restaurant-block-text">
                <h4 class="restaurant-block-header">Restaurant</h4>
                <small class="restaurant-block-small">Tame lorem</small>
                <p class="restaurant-block-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                    consectetur,
                    consequuntur corporis deleniti deserunt enim error est excepturi facere id inventore minus nemo
                    neque
                    quos, repellat sapiente similique sunt temporibus!</p>
                <a href="{% url 'gallery' %}" class="btn btn-black">Галерея</a>
            </div>
        </div>
        <div class="restaurant-block">
            <img src="{% static 'img/placeholder.jpg' %}" alt="" class="restaurant-block-photo">
            <div class="restaurant-block-text">
                <h4 class="restaurant-block-header">Restaurant</h4>
                <small class="restaurant-block-small">Tame lorem</small>
                <p class="restaurant-block-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                    consectetur,
                    consequuntur corporis deleniti deserunt enim error est excepturi facere id inventore minus nemo
                    neque
                    quos, repellat sapiente similique sunt temporibus!</p>
                <a href="{% url 'gallery' %}" class="btn btn-black">Галерея</a>
            </div>
        </div>
    </div>
    <div class="menu-sidebar">
        <h3 class="decorated-header">Меню</h3>
        <h4 class="simple-header">Рекомендації</h4>
        {%  for item in menu_items %}
        <div class="menu-item">
            <a href="{% url 'menu' %}" target="_blank"><img class="menu-item-image" src="{{ item.image.url }}" alt=""></a>
            <h6 class="menu-item-header">{{ item.title }}</h6>
            <p class="menu-item-text">{{ item.description }}
            </p>
        </div>
        {% endfor %}


    </div>
</div>
{% include 'includes/footer.html' %}
</body>
</html>