{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'includes/head_links.html' %}
</head>
<body>
{% include 'includes/navbar.html' %}
<div class="restaurant-header">
    <img src="{% static "img/placeholder.jpg" %}" alt="" class="restaurant-header-image">
</div>
<div class="restaurant-container">
    <div class="restaurant-text">
        <div class="restaurant-block">
            <img src="{% static 'img/placeholder.jpg' %}" alt="" class="restaurant-block-photo">
            <div class="restaurant-block-text">
                <h4 class="restaurant-block-header">Restaurant</h4>
                <small class="restaurant-block-small">Tame lorem</small>
                <p class="restaurant-block-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                    consectetur,
                    consequuntur corporis deleniti deserunt enim error est excepturi facere id inventore minus nemo
                    neque
                    quos, repellat sapiente similique sunt temporibus!</p>
                <a class="btn-arrow">→</a>
            </div>
        </div>
        <div class="restaurant-block restaurant-block-reversed">
            <img src="{% static 'img/placeholder.jpg' %}" alt="" class="restaurant-block-photo">
            <div class="restaurant-block-text">
                <h4 class="restaurant-block-header">Restaurant</h4>
                <small class="restaurant-block-small">Tame lorem</small>
                <p class="restaurant-block-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                    consectetur,
                    consequuntur corporis deleniti deserunt enim error est excepturi facere id inventore minus nemo
                    neque
                    quos, repellat sapiente similique sunt temporibus!</p>
                <a class="btn-arrow">→</a>
            </div>
        </div>
        <div class="restaurant-block">
            <img src="{% static 'img/placeholder.jpg' %}" alt="" class="restaurant-block-photo">
            <div class="restaurant-block-text">
                <h4 class="restaurant-block-header">Restaurant</h4>
                <small class="restaurant-block-small">Tame lorem</small>
                <p class="restaurant-block-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
                    consectetur,
                    consequuntur corporis deleniti deserunt enim error est excepturi facere id inventore minus nemo
                    neque
                    quos, repellat sapiente similique sunt temporibus!</p>
                <a class="btn-arrow">→</a>
            </div>
        </div>
    </div>
    <div class="menu-sidebar">
        <h3 class="decorated-header">Меню</h3>
        <h4 class="simple-header">Рекомендації</h4>
        <div class="menu-item">
            <img class="menu-item-image" src="{% static "img/placeholder.jpg" %}" alt="">
            <p class="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis distinctio
                dolore earum enim eveniet nesciunt numquam odio officiis pariatur, perferendis praesentium quasi
                quibusdam repellat reprehenderit sed soluta tempora vel vero!</p>
        </div>
        <div class="menu-item">
            <img class="menu-item-image" src="{% static "img/placeholder.jpg" %}" alt="">
            <p class="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis distinctio
                dolore earum enim eveniet nesciunt numquam odio officiis pariatur, perferendis praesentium quasi
                quibusdam repellat reprehenderit sed soluta tempora vel vero!</p>
        </div>
        <div class="menu-item">
            <img class="menu-item-image" src="{% static "img/placeholder.jpg" %}" alt="">
            <p class="menu-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis distinctio
                dolore earum enim eveniet nesciunt numquam odio officiis pariatur, perferendis praesentium quasi
                quibusdam repellat reprehenderit sed soluta tempora vel vero!</p>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
</body>
</html>